<%- include('./../partials/header'); %>

<style>
    body {
    background-image: url('./../css/blogs.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
</style>

<div id="header">
    <h1>Share Your Stories</h1>
    <p>Life is short. Tell what you have seen the world. Spread joy.</p>
  </div>

<%- include('./../partials/footer'); %>