<%- include('./../partials/header'); %>

    <style>
        body {
        background-image: url('./../../css/edit-blog.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.2em;
    }
    </style>

    <div class="container">
        <div class="blog-title">
            <h1 class="mb-4"><%= pageTitle %></h1>
            <hr>
        </div>

        <form action="/blogs" enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col-5">
                    <div class="form-group mb-3">
                        <label for="title">Title *</label>
                        <input required type="text" name="title" id="title" class="form-control" >
                    </div>

                    <div class="form-group mb-3">
                        <label for="category">Category *</label>
                        <select name="category" id="category" class="form-control">
                                <option>Travel</option>
                                <option>Food</option>
                                <option>Technology</option>
                                <option>Events</option>
                                <option>Lifestyle</option>
                                <option>Photography</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="content">Description</label>
                        <textarea name="content" id="content" class="form-control mb-4" rows="10"></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="hashtag">HashTag</label>
                        <textarea name="hashtag" id="hashtag" class="form-control mb-4" rows="2"></textarea>
                    </div>
                </div>

                <div class="col-5">
                    <div class="form-group">
                        <label for="address1">Address</label>
                        <input type="text" class="form-control" id="address1" name="address1">
                    </div>

                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input type="text" class="form-control" id="address2" name="address2">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postal">Postal Code</label>
                            <input type="text" class="form-control" id="postal" name="postal">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="country">Country *</label>
                            <input required type="text" class="form-control" id="country" name="country">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="contact">Contact Number</label>
                            <input type="text" class="form-control" id="contact" name="contact">
                        </div>
                    </div>

                    <div class="form-row image-container">
                        <div class="form-group col-md-5">
                            <label for="myFile">Upload Image</label>
                            <a class="btn-floating purple-gradient mt-0 float-left">
                                <!-- <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> -->
                                <input type="file" multiple name="myFile">
                              </a>
                        </div>
                    </div>

                </div>
            </div>

            <a href="/blogs/dashboard" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>

<%- include('./../partials/footer'); %>