body{
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
}

.navbar{
    color: rgb(247, 153, 12);
    background-color: rgb(139, 69, 19, 0.5);
    opacity: initial;
}

.nav-link{
    color: white;
}

#header{
    margin: 0;
    color: white;
    background: rgb(70, 69, 69, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

#header h1{
    font-size: 5rem;
}

#header p{
    font-size: 1rem;
    text-align: center;
    color: rgb(235, 198, 37);
}


.register-title, .register-subtitle{
    color: white;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

.register-header{
    margin-top: 80px;
    padding-top: 50px;
}

.register-title{
    font-size: 1.5rem;   
}

.register-form{
    margin: 10px auto;
    max-width: 400px;
    padding: 16px;
    border-radius: 2px;
    background-color: white;
}

.form-group{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

label{
    margin-bottom: 0.2rem;
}

button{
    margin: 5px 20px;
}

.blog-title{
    /* margin: 60px 5px; */
    margin-top: 10px;
}

.mb-1{
    display: inline-block;
}

/* .btn-sm{
    margin-left: 80px;
} */

img{
    max-width: 100%;
    max-height: 100%;
}

.blog-image{
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: rgb(22, 21, 21, 0.2);
    border-radius: 5px;
  }

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgb(22, 21, 21, 0.4);
    font-size: 10px;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: blue;
    color: white;
    margin: auto;
  }


.card{
    width: fit-content;
    height: fit-content;
    /* background-color: burlywood; */
    display: inline-block;
    margin: 10px 2px;
    border-style: none;
}

.infor-button{
    margin: 20px 0;
}

.subnav-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
}

.bar-list{
    list-style: none;
    font-size: 15px;
}

.item-list{
    font-weight: 400;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
}

.image-container{
    margin-top: 20px;
}