<%- include('./../partials/header'); %>

<style>
    body {
    background-image: url('./../css/register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
</style>

<div class="container register-container">

    <div class="register-header">
        <h1 class="register-title" style="color: white;"><%= pageTitle %></h1>
        <p class="register-subtitle" style="color: rgb(112, 66, 6);">First, create your account to login.</p>

    </div>
    

    <form method="POST" action="/users/register">
        <div class="form-group register-form">
                <div class="form-group row">
                    <div class="form-group col-md-12">
                        <label for="username">Choose a username</label>
                        <input type="text" class="form-control" id="username" name="username">  
                    </div>
                    
                </div>

                <div class="form-group row">
                    <div class="form-group col-md-12">
                        <label for="fullname">Full name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname">  
                    </div>
                    
                </div>

                <div class="form-group row">
                    <div class="form-group col-md-12">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-md-12" >
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                </div> 

                <div class="form-group row submit-btn">
                    <button type="submit" class="btn btn-danger col-md-10">Create your account</button>
                </div>

        </div>
    </form>
    



</div>



<%- include('./../partials/footer'); %>